.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
src/config/stepflow_config_lexer.erl
src/config/stepflow_config_parser.erl
rebar3.crashdump
rebar.lock
