{erl_opts, [debug_info]}.
{deps, [
  {erlastic_search,
    {git, "https://github.com/tsloughter/erlastic_search.git",
      {tag, "v1.3.0"}}},
  {jsx,
    {git, "https://github.com/talentdeficit/jsx.git", {branch, master}}},
  {amqp_client,
    {git, "git://github.com/dsrosario/amqp_client.git",
      {tag, "rabbitmq_3.6.2"}}}
]}.
